#Rewrite everything to https
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#301 redirect
RewriteEngine on
RewriteCond %{HTTP_HOST} ^christopherklint.com [NC]
RewriteRule ^(.*)$ https://www.christopherklint.com/$1 [L,R=301,NC]