@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Declaring variables */
:root {
    --text-color: #f1faee;
    --main-bg-color: #1d3557;
    --second-bg-color: #457b9d;
}

/* Main stylesheet */
* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 10px;
    background-color: var(--main-bg-color);
    color: var(--text-color);
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 0;
}

li {
    padding: 1vw;
}

a:any-link {
    text-decoration: none;
    color: var(--text-color);
}

.hero {
    background-color: var(--second-bg-color);
    height: 10rem;
}

.hero-text {
    text-align: center;
    margin: auto 0;
    line-height: 10rem;
}

section {
    
}

.contact-section {
    
}

h1 {
    text-align: center;
}