@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Declaring variables */
:root {
    --text-color: #EBEBEB;
    --main-bg-color: #333333;
    --second-bg-color: #04728B;
}

/* Main stylesheet */
* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 10px;
    background-color: var(--main-bg-color);
    color: var(--text-color);
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

li {
    padding: 1vw;
}

a:any-link {
    text-decoration: none;
    color: var(--text-color);
}

.hero {
    background-color: var(--second-bg-color);
    min-height: 20vw;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8vw;
    border-radius: 10px;
}

.hero-text {
    text-align: center;
}

section {
    display: flex;
    justify-content: center;
    text-align: left;
}

.contact-section {
    flex-flow: column;
    text-align: center;
}

h1 {
    text-align: center;
}